<!DOCTYPE html>
<html>
    <head>
        <title>Assessments Page</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/Assessment_Tracker.css">
    </head>
    <body>
        <h1>Assessments</h1>
        <h2>Navigation Menu:</h2>
        <a href = "/add_assessments">Add Assessments Page</a>
        <a href = "/subjects">Subjects Page</a>
        <a href = "/">Home Page</a>
        {% for assessment in assessments %}
            <h2>Assessment Type: {{ assessment[1] }}</h2>
            <br>
            <h2>Assessment Task Explanation: {{ assessment[6] }}</h2>
            <hr>
        {% endfor %}
    </body>
</html>