<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/Assessment Tracker.css">
        <title>Assessment Tracker</title>
    </head>
    <body>
        <div class="outerBorder">
            <div class="innerBorder">
                <hr>
                <h1>Welcome to Assessment Tracker!</h1>
                <hr>
                <h2>Track your Assessment Progress and Stay Organised</h2>
                <hr>
            </div>
        </div>
        <div class="outerBorder">
            <div class="innerBorder">
                <hr>
                <h2>Navigation Menu:</h2>
                <hr>
                <br>
                <a href="/login">Log In Page</a>
                <br>
                <a href="/register">Register Page</a>
                <br>
                <hr>
            </div>
        </div>
    </body>
</html>