<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/css/Assessment Tracker.css">
    </head>
    <body>
        <div class="outerBorder">
            <div class="innerBorder">
                <h1>Familiar? Login here!</h1>
                <form method="POST" action="/login">
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                    <input type="submit" value="Login">
                </form>
                {% if user_not_logged_in %}
                    <p style="color: red;" id="Invalid_credentials">Invalid username or password. Try again</p>
                {% endif %}
                <h2>Navigation Menu:</h2>
                <a href="/register">Register Page</a>
                <a href="/">Home Page</a>
            </div>
        </div>
    </body>
</html>