<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/css/Assessment Tracker.css">
    </head>
    <body>
        <div class="outerBorder">
            <div class="innerBorder">
                <hr>
                <h1>Farmiliar? Login here</h1>
                <hr>
                <form method="POST" action="/login">
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                    <br>
                    <input type="submit" value="Login">
                </form>
                {% if user_not_logged_in %}
                    <br>
                    <p style="color: red;">Invalid username or password. Try again</p>
                {% endif %}
                <hr>
                <h2>Don't have an account? <a href="/register">Register here</a></h2>
                <hr>
            </div>
        </div>
    </body>
</html>